.header {
  background-color: #FE7743; 
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.header-content {
    max-width: 1920px; 
    width: 100%;
    display: grid;
    align-items: center;
    padding:0 40px;
}



/* src/components/Header.css */



